<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{{ page.site_brand }}</a>
    <a href="/hours" class="headerHours"><em>Horas de Biblioteca: <span class="displayHours"></span></em></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
    </button>

    <div class="main-menu">
        <div class="justify-content-end">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Students</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">

                        {{ page.nav_students }}

                        <div class="dropdown-divider"></div>
                        <h5 class="dropdown-item"><b>Recommended Resources</b></h5>

                        {{ page.nav_students_rec_resources }}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact">Contact a Librarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Faculty</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">

                        {{ page.nav_faculty }}

                        <div class="dropdown-divider"></div>
                        <h5 class="dropdown-item"><b>Recommended Resources</b></h5>

                        {{ page.nav_faculty_rec_resources }}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact">Contact a Librarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archives</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">

                        {{ page.nav_archives }}

                        <div class="dropdown-divider"></div>
          
                        <a class="dropdown-item" href="/contact">Contact a Librarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">

                        {{ page.nav_about }}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact">Contact a Librarian</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="mobile-menu collapse" id="navbarSupportedContent">
        <ul class="mobile-parent-menu">
            <li class="mobile-menu-item">Students <span class="menu-expand-icon"><i class="fas fa-caret-down"></i></span>
                <ul class="mobile-child-menu">

                    {{ page.mobile_nav_students }}

                </ul>
            </li>
            <li class="mobile-menu-item">Faculty <span class="menu-expand-icon"><i class="fas fa-caret-down"></i></span>
                <ul class="mobile-child-menu">

                    {{ page.mobile_nav_faculty }}

                </ul>
            </li>
            <li class="mobile-menu-item">Archives <span class="menu-expand-icon"><i class="fas fa-caret-down"></i></span>
                <ul class="mobile-child-menu">

                    {{ page.mobile_nav_archives }}

                </ul>
            </li>
            <li class="mobile-menu-item">About <span class="menu-expand-icon"><i class="fas fa-caret-down"></i></span>
                <ul class="mobile-child-menu">

                    {{ page.mobile_nav_about }}

                </ul>
            </li>
            <li class="mobile-menu-item"><a href="/contact">Contact a Librarian</a></li>
        </ul>
    </div>

</nav>
</header>

<main>
    <div>

        <!-- Searchbox -->
        <section class="mainBox">
            <div class="libSearch">
                <!--Main Box-->
                <!-- New Searchbox code -->
                <div class="container-fluid">
                    <h1 class="search-title">Buscar en Nuestro Catálogo</h1>
                    <form class="form-inline" id="catalog-search" autocomplete="off">
                        <select id="search-facet">
							<option value="spanish">Buscar todo en Español</option>
							<option selected value="es_ebooks">Libro Electronicos en Español</option>
                        </select>
                        <input name="queryString" id="queryString" type="text" placeholder="Buscar por Título, Autor, o Tema" aria-label="Text input with dropdown button">
                        <button id="search-submit" type="submit">Buscar</button>
                    </form>
                </div>

                <!-- Links under Searchbox -->
                <div class="searchLinks">
                </div>
            </div>
        </section>

        <!-- Databases/LibGuides/Library News -->
        <!-- Databases -->
        <section class="box">
            <a href="https://libguides-anderson-edu.translate.goog/az.php?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=en-US&_x_tr_pto=nui" target="_blank"><div id="databasesBox"><h2 class="buttonTitle">Lista de Bases de Datos</h2></div></a>
        </section>

        <!-- LibGuides -->
        <section class="box">
            <a href="https://libguides-anderson-edu.translate.goog/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=en-US&_x_tr_pto=nui" target="_blank"><div id="researchBox"><h2 class="buttonTitle">Guías Bibliotecarias </h2></div></a>
        </section>

        <!-- Library News -->
        <section class="box">
            <a href="http://browzine.com/libraries/137/subjects" target="_blank"><div id="browzineBox"><h2 class="buttonTitle">Explorar Revistas Electrónicas</h2></div></a>
        </section>
    </div>
</main>

<footer>
    <div class="footernav">
        <!-- Library Links -->
        <div class="left">
            <nav class="nav flex-column">
                <h3>Helpful Library Links</h3>

                {{ page.helpful_links }}

            </nav>
            &nbsp;
            <p style="margin-top:-1.5em; font-size:.75em;"><a href="/hours">Horas de Biblioteca: <span class="displayHours"></span></a></p>
        </div>

        <!-- University Links -->
        <div class="right">
            <nav class="nav flex-column">
                <h3>University Links</h3>

                {{ page.university_links}}

            </nav>
        </div>
    </div>
</footer>

<a href="/contact"><button class="btn btn-lg" id="chat-button"><i class="far fa-question-circle"></i> Hablar con una Bibliotecaria [EN]</button></a>
<a href="/"><button class="btn btn-sm" id="lang-button-en"><i class="fas fa-flag-usa"></i></button></a>
