<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{{ page.site_brand }}</a>
    <a href="/hours" class="headerHours"><em>Today's hours: <span class="displayHours"></span></em></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
    </button>

    <div class="main-menu">
        <div class="justify-content-end">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Students</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">

                        {{ page.nav_students }}

                        <div class="dropdown-divider"></div>
                        <h5 class="dropdown-item"><b>Recommended Resources</b></h5>

                        {{ page.nav_students_rec_resources }}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact">Contact a Librarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Faculty</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">

                        {{ page.nav_faculty }}

                        <div class="dropdown-divider"></div>
                        <h5 class="dropdown-item"><b>Recommended Resources</b></h5>

                        {{ page.nav_faculty_rec_resources }}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact">Contact a Librarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archives</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">

                        {{ page.nav_archives }}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="contact">Contact a Librarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">

                        {{ page.nav_about }}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact">Contact a Librarian</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="mobile-menu collapse" id="navbarSupportedContent">
        <ul class="mobile-parent-menu">
            <li class="mobile-menu-item">Students <span class="menu-expand-icon"><i class="fas fa-caret-down"></i></span>
                <ul class="mobile-child-menu">

                    {{ page.mobile_nav_students }}

                </ul>
            </li>
            <li class="mobile-menu-item">Faculty <span class="menu-expand-icon"><i class="fas fa-caret-down"></i></span>
                <ul class="mobile-child-menu">

                    {{ page.mobile_nav_faculty }}

                </ul>
            </li>
            <li class="mobile-menu-item">Archives <span class="menu-expand-icon"><i class="fas fa-caret-down"></i></span>
                <ul class="mobile-child-menu">

                    {{ page.mobile_nav_archives }}

                </ul>
            </li>
            <li class="mobile-menu-item">About <span class="menu-expand-icon"><i class="fas fa-caret-down"></i></span>
                <ul class="mobile-child-menu">

                    {{ page.mobile_nav_about }}

                </ul>
            </li>
            <li class="mobile-menu-item"><a href="/contact">Contact a Librarian</a></li>
        </ul>
    </div>

</nav>
</header>

<main>

    {{ page.content }}

</main>

<footer>
    <div class="footernav">
        <!-- Library Links -->
        <div class="left">
            <nav class="nav flex-column">
                <h3>Helpful Library Links</h3>

                {{ page.helpful_links }}

            </nav>
            &nbsp;
            <p style="font-size:.75em;"><a href="/hours">Today's hours: <span class="displayHours"></span></a></p>
        </div>

        <!-- University Links -->
        <div class="right">
            <nav class="nav flex-column">
                <h3>University Links</h3>

                {{ page.university_links}}

            </nav>
        </div>
    </div>
</footer>
